<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Welcome to Hello JDBC</display-name>
  <description>
     Welcome to Hello JDBC
  </description>
  <filter>
      <filter-name>filterEncoding</filter-name>
      <filter-class>com.baldur.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>filterEncoding</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>contactCreate</servlet-name>
    <servlet-class>com.baldur.AddressBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactCreate</servlet-name>
    <url-pattern>/contact/creat</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>contactList</servlet-name>
    <servlet-class>com.baldur.AddressBookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactList</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>  

  
</web-app>
